@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Inter:wght@400;900&family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

/* PAGE 1 */
.c-home{
    background: #E8E8E8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header{
    background-color: black;
    width: 100%;
    height: 12vh;
}

header ul{
    font-size: 16px;
    color: #E8E8E8;
    display: grid;
    display: flex;
    gap: 37px;
    margin-top: 6px;
    margin-left: 60%;
    cursor: pointer;
}

.main-title h1{
    font-size: 80px;
    text-align: center;
    padding-top: 150px;
}

.main-title h3{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.main-title button a{
    color: #E8E8E8;
}

.main-title button{
    font-size: 18px;
    margin-top: 50px;
    background-color: black;
    border: none;
    padding: 10px;
    margin-left: 45%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgb(87, 53, 53);
}

                    /* animations */
                    header ul li{
                        transition: transform .3s;
                    }

                    header ul li:hover{
                        transform: scale(1.1);
                    }
                    
                    .main-title button:hover{
                        transition: 0.8s;
                        transform: scale(1.1);
                    }

/* PAGE 2 */

.c-about{
    background: black;
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
    width: 100%;
    flex-wrap: wrap;
}

.image {
    width: 400px;
    height: auto;
    cursor: pointer;
    box-shadow: 4px 4px 4px 6px rgb(107, 107, 107);
}

.c-about h1{
    color: #E8E8E8;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.about h4{
    color: #E8E8E8;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.about p{
    color: #E8E8E8;
    text-align: center;
    font-size: 15px;
    margin-top: 90px;  
    font-weight: normal;
}

.about button a{
    color: black;
}

.about button{
    border: none;
    font-size: 18px;
    font-weight: 500;
    background-color: #E8E8E8;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 45%;
    box-shadow: 4px 4px 4px rgb(78, 78, 78);
}

.about button:hover{
    transition: 0.8s;
    transform: scale(1.1);
}